# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "2872bd27bae1836b2ed47b6ccf97b6dc"
name = "Sticky Add to Cart"
application_url = "https://shopify.dev/apps/default-app-home"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = ""

[auth]
redirect_urls = [ "https://shopify.dev/apps/default-app-home/api/auth" ]
